.swiper-container {
    width: 100%;
    padding-top: 100px;
    max-width: 100%; 
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 80%; 
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 25px;
    font-weight: bold;
}

.swiper-pagination-bullet {
    background: #ccc;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: #08c528;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-container.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.modal-container.show .modal-content {
    transform: translateY(0);
}

.modal-content h2 {
    margin-top: 0;
}

@media (max-width: 768px) {
    footer p {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .gift-card p {
        font-size: 0.9em;
    }
   
    footer p {
        font-size: 1.8em;
    }

    .modal-content {
        width: 70%;
    }
}

.img-card {
    background: radial-gradient(circle, rgba(44, 124, 156, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}