#Entrada {
  display: grid;
  place-items: center;
}

.container-infinito {
  margin: 50px auto;
  position: relative;
  display: flex;
  font-size: min(.9cqh, .45cqw);
  --h: 80em;
  height: var(--h);
  width: calc(2*var(--h) - 5.5em);
  padding: 2% 4%;
  /* Espacio interno entre circulos */
}

.wrapper {
  position: absolute;
  height: 100%;
  width: unset;
  aspect-ratio: 1;
  display: grid;
}

.wrapper:nth-child(1) {
  left: 0;
}

.wrapper:nth-child(2) {
  right: 0;
}

.swirl {
  position: absolute;
  inset: 0;
  --dur: 15s;
  display: grid;
  align-items: center;
  justify-items: unset;
  animation: spin var(--dur) linear infinite;
}

.wrapper:nth-child(2) .swirl {
  animation-direction: reverse;
}

.swirl span {
  position: absolute;
  width: 50%;
  height: unset;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  font-size: calc(var(--h)/8);
  rotate: calc(360deg/24*var(--nth)*var(--dir));
  animation: fade var(--dur) linear infinite;
  animation-delay: calc(-1*var(--dur)/24 * var(--nth));
  --glow: hsl(calc(360deg/24*var(--nth)) 100% 50%);
  text-shadow: 0 0 1em var(--glow), 0 0 .5em var(--glow), 0 0 .25em var(--glow);
}

.swirl span:nth-child(1) {
  --nth: 1;
}

.swirl span:nth-child(2) {
  --nth: 2;
}

.swirl span:nth-child(3) {
  --nth: 3;
}

.swirl span:nth-child(4) {
  --nth: 4;
}

.swirl span:nth-child(5) {
  --nth: 5;
}

.swirl span:nth-child(6) {
  --nth: 6;
}

.swirl span:nth-child(7) {
  --nth: 7;
}

.swirl span:nth-child(8) {
  --nth: 8;
}

.swirl span:nth-child(9) {
  --nth: 9;
}

.swirl span:nth-child(10) {
  --nth: 10;
}

.swirl span:nth-child(11) {
  --nth: 11;
}

.swirl span:nth-child(12) {
  --nth: 12;
}

.swirl span:nth-child(13) {
  --nth: 13;
}

.swirl span:nth-child(14) {
  --nth: 14;
}

.swirl span:nth-child(15) {
  --nth: 15;
}

.swirl span:nth-child(16) {
  --nth: 16;
}

.swirl span:nth-child(17) {
  --nth: 17;
}

.swirl span:nth-child(18) {
  --nth: 18;
}

.swirl span:nth-child(19) {
  --nth: 19;
}

.swirl span:nth-child(20) {
  --nth: 20;
}

.swirl span:nth-child(21) {
  --nth: 21;
}

.swirl span:nth-child(22) {
  --nth: 22;
}

.swirl span:nth-child(23) {
  --nth: 23;
}

.swirl span:nth-child(24) {
  --nth: 24;
}


.wrapper:nth-child(1) .swirl span {
  left: 50%;
  text-align: end;
  transform-origin: 0% 50%;
  --dir: 1;
  animation-direction: reverse;
}

.wrapper:nth-child(2) .swirl span {
  right: 50%;
  text-align: start;
  transform-origin: 100% 50%;
  --dir: -1;
}

.center-content {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 10;
}

.logo-infinito {
  width: 30%;
  height: 30%;
  object-fit: contain;
}

.nav-btn {
  color: green;
  text-decoration: none;
  font-size: 2.5em;
  padding: 0.75em 1.5em;
  border: 1px solid green;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-btn:hover {
  background: #fff;
  color: #000;
}


@keyframes spin {
  100% {
    rotate: 360deg;
  }
}

@keyframes fade {

  0%,
  10% {
    opacity: 0;
  }

  55%,
  100% {
    opacity: 1;
  }
}

@media (max-width: 912px) {
  .container-infinito {
    width: var(--h);
    height: calc(2*var(--h) - 5.5em);
    font-size: min(.9cqw, .45cqh);
  }

  .wrapper {
    position: absolute;
    width: 100%;
    height: unset;
    aspect-ratio: 1;
    left: 0;
    right: unset;
  }

  .wrapper:nth-child(1) {
    top: 0;
    bottom: unset;
    left: unset;
    right: unset;
  }


  .wrapper:nth-child(2) {
    top: unset;
    bottom: 0;
    left: unset;
    right: unset;
  }

}

@media (max-width: 600px) {
  .container-infinito {
    font-size: min(.7cqh, .35cqw);
    --h: 65em;
    margin: 30px auto;
    padding: 4% 6%;
  }

  .logo-infinito {
    width: 35%;
    height: 35%;
  }

  .nav-btn {
    font-size: 2em;
    padding: 0.6em 1.2em;
  }
}

@media (max-width: 480px) {
  .container-infinito {
    font-size: min(.6cqh, .3cqw);
    --h: 55em;
    margin: 20px auto;
    padding: 5% 8%;
  }

  .logo-infinito {
    width: 40%;
    height: 40%;
  }

  .nav-btn {
    font-size: 1.8em;
    padding: 0.5em 1em;
  }
}